NEXT_PUBLIC_CONTRACT_ADDRESS=0xf808a793e3e5b7aaa6490816d87c74b6962b3fa9
# Se o contrato for proxy e você souber o implementation address, coloque aqui:
IMPLEMENTATION_ADDRESS=
NEXT_PUBLIC_OPENSEA_COLLECTION_SLUG=world-cup-127969894
OPENSEA_API_KEY=
MINT_FUNCTION_NAME=mint
ADMIN_PASSWORD=troque_essa
RPC_PROVIDER=https://rpc-mumbai.maticvigil.com/
POLYGONSCAN_API_KEY=
